# {{ ansible_managed }}
/var/log/apache2/*log {
    rotate 14
    missingok
    notifempty
    sharedscripts
    compress
    delaycompress
    postrotate
        /bin/systemctl reload apache2.service > /dev/null 2>/dev/null || true
    endscript
}
