#### cd ########################################################################
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"
################################################################################

#### mv, rm, cp ################################################################
alias mv='mv -v'
alias rm='rm -v'
alias cp='cp -v'
################################################################################

#### ls ########################################################################
export CLICOLOR_FORCE=1
alias ls='ls --color=auto'
# only directories
alias lsd='ls -l | grep "^d"'
# ll
alias ll='ls -ahl'
################################################################################

#### git #######################################################################
# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"
# git root
alias gitroot='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'
################################################################################